@import "./variables.scss";

.container {
    margin: 0;
    padding: 0; 
    width: 100%;
    font-family: $Lato
}
@media (max-width: 1200px){
    
    
}

/* tabletas */
@media (max-width: 1025px) {
  
}

/* escritorio normales */
@media (max-width: 769px) {
  
}

/* pantallas grandes */
@media (max-width: 576px) {
  
}
@media (max-width: 500px) {
    
}

@media (max-width: 414px) {
    
}

