@import "./variables.scss";
@mixin gradient($from, $to) {
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
    background: -webkit-linear-gradient(top, $from 0%,$to 100%);
    background: -o-linear-gradient(top, $from 0%,$to 100%);
  }
.menu { 
    height: 100px;
    padding: 20px 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @include gradient($grey, $transparent);
}
.menu__title{
    width: 50%;
    height: 50px;
    font-size: 30px; 
    letter-spacing: 1pt;
    color: $white;
}
.menu__navbar{
    width: 50%;
    height: 50px;
}
.menu__navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.menu__navbar--item{
    list-style: none;
}
.item__link{
    text-decoration: none;
    color: $white;
    font-size: 16px;
    font-weight: 300;
    margin-top: 2px;
}
.item__search{
    width: 28px;
    height: 28px;
}
@media (max-width: 1200px){
    .menu{
        height:90px;
        padding: 15px 9%;
    }
}
@media (max-width: 1025px) {
  .menu { 
        padding: 10px 9%;
    }
}
@media (max-width: 769px) {
    .menu { 
        padding: 10px 7%;
    }
    .menu__title{
        width: 40%;
        font-size: 25px; 
    }
    .menu__navbar{
        width: 60%;
    }
    .item__link{
        font-size: 15px;
    }
    .item__search{
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 576px) {
    .menu { 
        padding: 30px 6% 0 6%;
        height: 50px;
    }
    .menu__title{
        width: 30%;
        font-size: 20px; 
    }
    .menu__navbar{
        width: 70%;
    }
    .item__link{
        font-size: 14px;
    }
    .item__search{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 500px) {
    .menu { 
        padding: 20px 5% 0 5%;
    }
    .menu__title{
        width: 35%;
        font-size: 18px; 
    }
    .menu__navbar{
        width: 65%;
    }
    .menu__navbar ul{
       padding: 0;
    }
    .item__link{
        font-size: 13px;
    }
}
@media (max-width: 414px) {
    .menu__navbar ul{
        justify-content: space-between;
    }
    .item__link{
        margin-right: 5px;
    }
}